#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

/*
 * STMod+ P2 allocation for the local motor demo.
 *
 * P2.14 PF8  : L293D EN1,2 (TIM13_CH1 PWM)
 * P2.1  PA11 : L293D IN1 (default SPI routing through SB32)
 * P2.2  PC3  : L293D IN2 (default SPI routing through SB34)
 * P2.8  PB15 : START button, active low
 * P2.9  PB14 : STOP button, active low
 * P2.3  PC2  : DIRECTION button, active low (default SPI routing through SB36)
 * P2.12 PJ13 : RESET button, active low
 *
 * P2.7/PD12 and P2.10/PD13 are deliberately left to the M7 LCD I2C bus.
 * P2.11/PC6, P2.17/PC7, P2.19/PB9 and P2.20/PB8 are left to M7 SDMMC1.
 * P2.13 PA4  : potentiometer cursor (ADC1_INP18)
 */

/ {
	chosen {
		/delete-property/ zephyr,ipc_shm;
	};

	/delete-node/ memory@38000000;

	sram_rx: memory@38000000 {
		zephyr,memory-region = "SRAM_RX";
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x38000000 0x08000>;
		zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM_NOCACHE)>;
	};

	sram_tx: memory@38008000 {
		zephyr,memory-region = "SRAM_TX";
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x38008000 0x08000>;
		zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM_NOCACHE)>;
	};

	ipc0: ipc0 {
		compatible = "zephyr,ipc-icmsg";
		tx-region = <&sram_tx>;
		rx-region = <&sram_rx>;
		mboxes = <&mailbox 10>, <&mailbox 11>;
		mbox-names = "tx", "rx";
		status = "okay";
	};

	zephyr,user {
		motor-in1-gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
		motor-in2-gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;

		start-gpios = <&gpiob 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		stop-gpios = <&gpiob 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		direction-gpios = <&gpioc 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		reset-gpios = <&gpioj 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		/* TIM13_CH1, 5 kHz. */
		pwms = <&pwm13 1 PWM_USEC(200) PWM_POLARITY_NORMAL>;
		io-channels = <&adc1 18>;
	};
};

&mailbox {
	status = "okay";
};

&perck {
	clocks = <&rcc STM32_SRC_HSE CKPER_SEL(2)>;
	status = "okay";
};

&adc1 {
	clocks = <&rcc STM32_CLOCK(AHB1, 5)>,
		 <&rcc STM32_SRC_CKPER ADC_SEL(2)>;
	clock-names = "adcx", "adc_ker";
	st,adc-clock-source = "ASYNC";
	st,adc-prescaler = <256>;
	pinctrl-0 = <&adc1_inp18_pa4>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@12 {
		reg = <18>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
};

&timers13 {
	status = "okay";

	pwm13: pwm {
		status = "okay";
		pinctrl-0 = <&tim13_ch1_pf8>;
		pinctrl-names = "default";
	};
};
